**/target/**
**/build/**
!igelbingo-velocity/build/libs/igelbingo-velocity-*.jar
!igelbingo-game/build/libs/igelbingo-purpur-*.jar
**/.gradle/**
**/node_modules/**
.git/
data/
.env
*.env.local
.forwarding.secret
.playit.secret
